@media (max-width: 576px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 576px) {
    .container{
        padding-left: 30px;
        padding-right: 30px;
    } 
}

@media (min-width: 992px) {
    .container{
        padding-left: 90px;
        padding-right: 90px;
    } 
}


.me-3{
    margin-right: 80px;
}

.m-2{
    margin: 25px;
}

.my-2{
    margin-top: 25px;
    margin-bottom: 25px;
}

.me-2{
    margin-right: 25px;
}