body{
    font-family: var(--font-primary);
    margin: 0px;
    background-color: var(--secondary-10);
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-end{
    justify-content: end;
}

.align-items-center{
    align-items: center;
}

.ul-nav{
    list-style: none;
    padding-inline-start: 0px;
    display: flex;
    margin: 10px;
}

.li-nav{
    text-decoration: none;
}

.link-nav{
    text-decoration: none;
}

.link-nav:hover{
    text-shadow: 0px  0px 3px rgba(255, 255, 255, 0.856) ;
    transform: scale(1.2);
    display: block;
    cursor: pointer;
}

.btn-default{
    background-color: var(--primary-30);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}

.btn-text{
    color: var(--primary-100);
    font: 500 var(--font-primary);
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.btn-accessibility{
    width: 30px;
    height: 30px;
    border: 2px solid var(--primary-100);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accessibility-bar{
    display: flex;
    justify-content: end;
    align-items: center;
}

.img-fluid{
    max-width: 100%;
    max-height: 520px;
}